<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3>Manufacturer details</h3>

    <dl class="half-width">
      <dt>
          Manufacturer name
      </dt>
      <dd>
        {{ MAN_ORGANISATION_NAME }}
      </dd>
    </dl>

    <dl class="half-width">
      <dt>
          Manufacturer product code (MPC)
      </dt>
      <dd>
         -- which field?
      </dd>
    </dl>

    <dl class="half-width">
      <dt>
          Companies house registration number
      </dt>
      <dd>
         {{# COMPANY_REGISTRATION_NUMBER }}
            <a class="govuk-link" href="">{{.}}</a>
         {{/COMPANY_REGISTRATION_NUMBER}}
         {{^ COMPANY_REGISTRATION_NUMBER }}
            No data
         {{/COMPANY_REGISTRATION_NUMBER}}
      </dd>
    </dl>

  </div>
</div>
