<h1>{{DEVICE_TYPE_NAME}}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Product classification</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">UDI-DI</th>
      <td class="govuk-table__cell">{{ DEV_UDI_NUMBERS }}</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">GMDN Code and Term</th>
      <td class="govuk-table__cell">
        {{# GMDN_CODE }}
        <a class="govuk-link" href="">{{ . }}</a>
        {{ /GMDN_CODE}}
        {{# GMDN_TERM_NAME }} - {{.}} {{/GMDN_TERM_NAME}}
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name</th>
      <td class="govuk-table__cell">{{ DEVICE_TYPE_NAME }}</td>
    </tr>

        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Manufacturer</th>
      <td class="govuk-table__cell">{{ MAN_ORGANISATION_NAME }}</td>
    </tr>

        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Risk class</th>
      <td class="govuk-table__cell">
        {{# DEVICE_RISK_SUB_TYPE_CODE }} {{.}} {{/DEVICE_RISK_SUB_TYPE_CODE}}
        {{# DEVICE_RISK_SUB_TYPE_DESC }} - {{.}} {{/ DEVICE_RISK_SUB_TYPE_DESC }}
      </td>
    </tr>
  </tbody>
</table>

  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Medical information</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
      Unit of issue
      </th>
      <td class="govuk-table__cell">
        -- Which field?
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Single use
      </th>
      <td class="govuk-table__cell">
        -- which field?
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Sterile
      </th>
      <td class="govuk-table__cell">
        {{^IS_STERILE}}No data{{/IS_STERILE}}
        {{ IS_STERILE }}
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Implantable
      </th>
      <td class="govuk-table__cell">
        -- which field?
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Latex
      </th>
      <td class="govuk-table__cell">
        -- which field?
      </td>
    </tr>

  </tbody>
</table>

  </div>
</div>
