
    <form action="search" method="get">
            <input class="govuk-input govuk-!-width-three-quarters" id="search" name="search" type="text" value="{{term}}" aria-describedby="search-hint" placeholder="Search the database">
            <button type="submit" class="govuk-button search-button" data-module="govuk-button">Search</button>
    </form>
