

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h3>{{BRAND_TRADE_NAME}} {{# PRODUCT_CODE }} - {{ . }} {{/ PRODUCT_CODE }}</h3>

    <dl>
      <dt>
          Manufacturer
      </dt>
      <dd>
         {{ MANUFACTURER_NAME }}
      </dd>
      <dt>
          Product Code (MPC)
      </dt>
      <dd>
         {{ PRODUCT_CODE }}
      </dd>
        <dt>
          UDI-DI
        </dt>
        <dd>
          {{ UDI_NUMBER }}
        </dd>
      <dt>
        Risk class
      </dt>
      <dd>
            {{ DEVICE_RISK_SUB_TYPE_CODE }} - {{ DEVICE_RISK_SUB_TYPE_DESC }}
      </dd>
      <dt>
          GMDN
      </dt>
      <dd>
         <a class="govuk-link" href="">{{ GMDN_CODE }}</a> - {{GMDN_TERM_NAME}}
      </dd>
    </dl>

    <br/>
    <a href="/product/{{PRODUCT_ID}}">Full product information</a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!--
    <dl>
      <dt>
          Name
      </dt>
      <dd>
         {{ name }}
      </dd>
    </dl>
-->
