

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h3>{{name}}</h3>

    <dl>
      <dt>
          Manufacturer
      </dt>
      <dd>
         {{ MAN_ORGANISATION_NAME }}
      </dd>
    </dl>
    <dl>
      <dt>
          Manufacturer Product Code (MPC)
      </dt>
      <dd>
         -- which field?
      </dd>
    </dl>
    <dl>
        <dt>
          UDI-DI
        </dt>
        <dd>
          {{ DEV_UDI_NUMBERS }}
        </dd>
    </dl>
    <dl>
      <dt>
        Risk class
      </dt>
      <dd>
            -- which field
      </dd>
    </dl>
    <dl>
      <dt>
          GMDN
      </dt>
      <dd>
         <a class="govuk-link" href="">{{ GMDN_CODE }}</a> - {{GMDN_TERM_NAME}}
      </dd>
    </dl>


    <br/>
    <a href="/product/{{DEVICE_ID}}">Full product information</a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!--
    <dl>
      <dt>
          Name
      </dt>
      <dd>
         {{ name }}
      </dd>
    </dl>
-->
