

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h3>{{name}}</h3>

    <dl>
        <dt>
          Identifier
        </dt>
        <dd>
          {{ identifier }}
        </dd>
    </dl>
    <dl>
      <dt>
          Name
      </dt>
      <dd>
         {{ name }}
      </dd>
    </dl>

    <a href="/product/{{identifier}}">Full product information</a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!--
    <dl>
      <dt>
          Name
      </dt>
      <dd>
         {{ name }}
      </dd>
    </dl>
-->
