{{> layout/header}}

{{#back}}
    <a href="{{back}}" class="govuk-back-link">Back</a>
{{/back}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Two-thirds column</h1>


        {{^product }}
            Product not found
        {{/ product}}

        {{# product }}
            {{> partial/product }}
        {{/product}}

        {{# manufacturer }}
            {{> partial/manufacturer }}
        {{/manufacturer}}


      </div>
      <div class="govuk-grid-column-one-third">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Download data</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link"  href="">Download as CSV</a>
          </li>
          <li>
            <a class="govuk-link" href="">Download as XLS</a>
          </li>
          <li>
            <a class="govuk-link"  href="">API access</a>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Anything wrong with this data?</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link"  href="">Flag an error with this data</a>
          </li>
        </ul>

      </div>
    </div>
  </main>

{{> layout/footer}}
