{{> layout/header}}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">PIM prototypes</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                  Round 2 prototype testing: Data consumers
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="https://pim-proto2.fly.dev/home">Homepage</a></li>
                  <li><a href="https://pim-proto2.fly.dev/search?search=test">Search results</a></li>
                  <li><a href="https://pim-proto2.fly.dev/product/314054">Example of a product page</a></li>
                  <li><a href="https://pim-proto2.fly.dev/multiple">Searching for multiple products at once</a></li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <p class="govuk-body">
                  Round 1 prototype testing: Data consumers
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="https://pim-proto1.fly.dev/home">Homepage</a></li>
                  <li><a href="https://pim-proto1.fly.dev/search?search=test">Search results</a></li>
                  <li><a href="https://pim-proto1.fly.dev/product/314054">Example of a product page</a></li>
                  <li><a href="https://pim-proto1.fly.dev/multiple">Searching for multiple products at once</a></li>
                </ul>
            </div>
        </div>
    </main>

{{> layout/footer}}
