{{> layout/header}}

{{#back}}
    <a href="{{back}}" class="govuk-back-link">Back</a>
{{/back}}

<style>
  .filter-container{
    position: relative;
    height: 200px;
    overflow-y: scroll !important;
    overflow-x: hidden;
    background-color: #fff;
  }
</style>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search results</h1>

        {{> partial/searchbox }}

        {{# rangeText }}
            <h3 class="govuk-heading-s">{{total}} results</h3>
        {{/rangeText}}

        {{^ products }}
            No results were found for '{{term}}'.
        {{/products}}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <ul class="govuk-list">
        {{# products }}
          <li>
            {{> partial/searchresult }}
          </li>
        {{/products}}
        </ul>

        {{> partial/pagination }}

      </div>

      <div class="govuk-grid-column-one-third filters">
        <h2 class="govuk-heading-m">Filter results</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Device classifications
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    NHS eClass
                  </h1>
                </legend>
                <div class="filter-container">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      A Provisions
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      B Staff Clothing
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      C Patients Clothing & Footwear
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      D Pharmaceuticals Blood Products & Medical Gases
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      E Dressings
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      F Medical & Surgical Equipment
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      G Patients Appliances
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      H Chemicals & Reagents
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      I Dental & Optical Equipment
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      J Diagnostic Imaging & Radiotherapy Equipment & Services
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      K Laboratory Equipment & Services
                    </label>
                  </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      R Purchased Healthcare
                    </label>
                  </div>
                </div>
              </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Medical device risk
                  </h1>
                </legend>
                <div class="filter-container">

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Active implantable Medical device
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class A
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class B
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class B – Self-testing or Near-patient Testing
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class C
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class C – Companion Diagnostics
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class C – Self-testing or Near-patient Testing
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class D
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class D – Companion Diagnostics
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class D – Self-testing or Near-patient Testing
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class I
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class IIa
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class IIb
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Class III
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - Active implantable Medical device
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - Class I
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - Class IIa
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - Class IIb
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - Class III
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Custom-made - System or Procedure Pack
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">IVD Annex II List A
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">IVD Annex II List B
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">IVD Devices for Self-Testing
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">IVD General
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">System or Procedure Pack
                    </label>
                  </div>
                </div>
              </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Manufacturer
                  </h1>
                </legend>
                <input class="govuk-input search-bar" id="event-name" name="eventName" type="text">

                <div class="filter-container">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">ACE Medical Devices Pvt Ltd
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Advanced Imaging Devices GmbH
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Allwin Medical Devices Inc
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Anhui JN Medical Device Co., Ltd.
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Appasamy Ocular Devices (P) Ltd
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Argon Medical Devices Inc.
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Avery Biomedical Devices (ABD) Inc.
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">Bactiguard (South East Asia) Sdn. Bhd. (formerly known as VIGILENZ Medical Devices Sdn. Bhd.)
                    </label>
                  </div>
                </div>
              </div>
              </fieldset>
            </div>
          </div>
        </details>
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Device production
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Device still in production
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Custom made
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            {{! <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Filter by:
                  </h1>
                </legend> 
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Device no longer in production
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filters" name="filters" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filters">
                      ‘Custom-made’ Medical Device
                    </label>
                  </div>
                </div>
              </fieldset>
            </div> }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Quality assurance
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                {{! <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Filter by:
                  </h1>
                </legend> }}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        CE-marked for all EC directives
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Medical devices directive classification
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          1
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          1-m
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          1s / IIa / IIb / III
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Active implantable devices directive
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        In-vitro diagnostics medical device directive category
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          General
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          Self-test
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          List-A
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          List-B
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Other EC directives
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Notified body conformity assessment
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Certified to management quality system standards
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                {{! <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      CE-marked for all EC directives
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Medical devices directive classification
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Active implantable devices directive
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      In-Vitro Diagnostics Medical Device Directive Category
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Other EC directive
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Notified Body conformity assessment
                    </label>
                  </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Certified to management quality system standards
                    </label>
                  </div>
                </div>
              </fieldset>
            </div> }}
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Device usage
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                {{! <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    filter
                  </h1>
                </legend> }}
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filters" name="filters" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filters">
                      For 'Clinical investigation'
                    </label>
                  </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filters" name="filters" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filters">
                      In-Vitro Diagnostic Medical Device for ‘Performance Evaluation’
                    </label>
                  </div>
                
              </fieldset>
            </div>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Support and servicing
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Available support and servicing features
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  {{! <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Guaranteed date of support
                    </label>
                  </div> }}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Support includes availability of parts and supply of consumables / accessories
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Suppport includes training, maintenance, repair, etc.
                    </label>
                  </div>
                  {{! <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Device warranty period
                    </label>
                  </div> }}
                  {{! <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Working lifetime
                    </label>
                  </div> }}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Notification of device alerts or upgrates
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Identical loan equipment available
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Installation / ancillary service requirements
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Disposable, non-serviceable device
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Maintainence / repair and technical support provided
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Servicing staff verifiably trained and competency assessed
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Qualification / competency records available on request
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Servicing organisation currently certified to any management system Standards
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Contract alternatives offered include an option for in-house equipment servicing?
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Health and safety
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                {{! <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Organisation
                  </h1>
                </legend> }}
                {{! <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Level of required device decontamination
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Instructions meet the requirements of EN-ISO-17664?
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Requires processing / reprocessing before / between uses?
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Limited device reprocessing cycles
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Device is uniquely identifiable
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Single-use
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Implantable
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Stores or transmits patient information
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Connects to IT or network services
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Requires safety management measures
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="filter">
                      Requires performance qualtity assurance measures
                    </label>
                  </div>
                </div> }}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Level of required device decontamination
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          None
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          Cleaning
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          Disinfection
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          Seterilisation
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Needs processing or reprocessing between uses
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Limited device reporcessing cycles
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Single use
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Implantable
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Stores or transmits patient information that will require information governance measures1
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Requires Connects to IT or network services
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Requires safety management measures
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Requires performance qualtity assurance measures
                      </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {{> partial/download}}

      </div>
    </div>
  </main>

{{> layout/footer}}
