.search-button {
    display: inline;
}

.half-width dt,
.half-width dd {
    width: 49% !important;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0.25em;
    margin: 0;
}

dt {
    float: left;
    width: 33%;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

dd {
    float: left;
    width: 66%;
    padding: 0;
    margin: 0;
}
