
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Required data not available?</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link"  href="/request/{{id}}">Request data from the manufacturer</a>
          </li>
        </ul>
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Anything wrong with this data?</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link"  href="/flag/{{id}}">Tell us what is wrong with this data</a>
          </li>
        </ul>
