{{> layout/header}}

{{#back}}
    <a href="{{back}}" class="govuk-back-link">Back</a>
{{/back}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Product comparison</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Product</th>
          <td class="govuk-table__header">Surgical retraction system, reusable – 15.435.95</td>
          <td class="govuk-table__header">VIDAS® RUB IgM (RBM) – 30214</td>
          <td class="govuk-table__header">CarpalFiX Lag Screws – 127-30214</td>
          <td class="govuk-table__header">ApeX/CarpalFiX – 127-30214-S</td>
          <td class="govuk-table__header">MTG EZ-Advancer® – 30214</td>
          <td class="govuk-table__header">ASNIS MICRO – 40-30214</td>
          <td class="govuk-table__header">Surgical gown - xxlarge - zone impervious - SMS – 30214</td>
          <td class="govuk-table__header">ASNIS MICRO – 40-30214</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Product description</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">UDI-DI</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell">842078109496</td>
          <td class="govuk-table__cell">842078122297</td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell">5060069365484</td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">GMDN code</th>
          <td class="govuk-table__cell"><span class="govuk-hint">45181 – Surgical retraction system, reusable</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">50268 – Rubella virus immunoglobulin M (IgM) antibody IVD, kit, enzyme immunoassay (EIA)</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">56642 – Orthopaedic bone screw, non-bioabsorbable, non-sterile</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">46646 – Orthopaedic bone screw, non-bioabsorbable, sterile</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">45605 – Single-administration urethral catheterization kit, single-use</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">61689 – Internal orthopaedic fixation system, plate/screw, non-bioabsorbable, non-sterile</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">35091 – Surgical gown, single-use</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">61689 – Internal orthopaedic fixation system, plate/screw, non-bioabsorbable, non-sterile</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">NHS eClass</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Risk class</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Class I</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">IVD Annex II List B</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class IIb</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class IIb</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class I</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class IIb</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class I</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Class IIb</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Product Code (MPC)</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Surgical retraction system, reusable</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">VIDAS® RUB IgM (RBM)</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">CarpalFiX Lag Screws</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">ApeX/CarpalFiX</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">MTG EZ-Advancer®</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">ASNIS MICRO</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Surgical gown - xxlarge - zone impervious - SMS</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">ASNIS MICRO</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Model</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Langenbeck Retractor (0.75" (2cm) X 3.5" (9cm)) X 8.5" (21.5cm)</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">VIDAS® RUB IgM (RBM)</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">CarpalFiX</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">3.0 x 14mm Lag Screw (Cannulated Tapered) - Sterile</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">MTG Instant Cath Deluxe Pre-Lubricated Closed System Intermittent Catheter Soft 14FR</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">3.0MM SCREWS</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">30214</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Implants</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manufacturer</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Timesco Healthcare Limited</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">bioMérieux S.A</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Extremity Medical LLC</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Extremity Medical LLC</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Medical Technologies of Georgia. Inc</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Stryker GmbH</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Full Support Healthcare</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Stryker GmbH</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Supplier</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Device brochure / specification</th>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download brochure / specification</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">EU Authorised Representative</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First placed on market</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Still in production</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>         
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Production ended</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">CE-marked for all EC devices</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">EC Declaration(s) of Conformity</th>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download declaration(s)</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Medical devices directive classification</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Active implantable devices directive</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">In-Vitro Diagnostics Medical Device Directive Category</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Other EC directive</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Directive(s)</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notified Body conformity assessment</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Notified Body conformity assessment ID</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Notified Body </th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Certified to management quality system standards</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Management / quality system standards</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Certification body</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">For 'Clinical investigation'</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">MHRA 'no objection' reference number</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">MHRA’s notice of ‘no objection’ for Medical Device ‘Clinical Investigation’</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notice</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">In-Vitro Diagnostic Medical Device for ‘Performance Evaluation’</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Notification to MHRA for In-Vitro Diagnostic Medical Device ‘Performance Evaluation’</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;notification</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Custom made</th>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Prescribing medical practitioner</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manufacturer support</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Support includes availability of parts and supply of consumables / accessories</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Support includes training, maintenance or repair</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Device warranty period
            <br>
            <span class="govuk-hint">This is the standard warranty period, but it may vary by geography or procurement framework.
          </th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working lifetime</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Details for end-of-life waste management of the Device</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notification of device alerts or upgrades</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Identical loan equipment available</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Protocols for post-delivery device inspection or acceptance testing</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Installation or ancillary service requirements</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Details of installation requirements</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Details of installation requirements</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
        </tr> 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Disposable, non-serviceable device</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Maintenence, repair and technical support provided</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Service support contract options for maintainence / repair</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;support options</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Servicing facility location</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Servicing staff verifiably trained and competency assessed</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Qualification or competency records available on request</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Servicing organisation currently certified to any management system standards</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Management system standards</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Certification body</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contract alternatives offered include an option for in-house equipment servicing</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Details of the availability of spare / replacement parts to support equipment servicing</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
        </tr>
        <tr class="govuk-table__row conditional">
          <th scope="row" class="govuk-table__header">Details of information / test equipment / tooling / software required for equipment servicing</th>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
          <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
        </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Implantable</th>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Single use</th>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
              Unit of issue
              </th>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Sterile
              </th>
              <td class="govuk-table__cell"><span class="govuk-hint">No</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">NULL</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">No</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Yes</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Yes</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">No</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">Yes</span></td>
              <td class="govuk-table__cell"><span class="govuk-hint">No</span></td>
            </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Level of decontamination needed</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">[IF NONE] Validated decontamination instructions / protocols</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;protocols</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">[IF STERILIZABLE] Instructions meet the requirements of EN-ISO-17664</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Needs processing or reprocessing before or between uses</th>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Requirements for special reprocessing equipment, tools and materials</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;requirements</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of special post-processing Device storage requirements</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Limit of device reprocessing cycles</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Limit of reprocessing cycles</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Device is uniquely identifiable</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Contains latex
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Stores or transmits patient information that will require information governance measures</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of patient information capture / encryption / storage / transmission / deletion</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Connects to IT or network services</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of Device IT software / hardware compatibility requirementsDetails of Device IT software / hardware compatibility requirements</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of provisions made for Device IT cybersecurity</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Requires safety management measures</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Identified hazards</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of particular hazards that require special safety management</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Requires performance quality assurance measures</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Quality assurance measures</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of particular performance quality assurance measures required</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Competency-based user training available from the manufacturer or an authorised provider</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of user training offered</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Competency-based user training available from the manufacturer or an authorised provider</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of technical training offered</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Competency-based decontamination / reprocessing training available from the manufacturer or an authorised provider ?</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of decontamination training offered</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Qualification / competency records of training providers available upon request</th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                    </tr>
              <tr class="govuk-table__row conditional">
                <th scope="row" class="govuk-table__header">Details of any additional support facilities offered</th>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
                <td class="govuk-table__cell"><a href="#">Download&nbsp;details</a><br>(PDF, 1.2MB)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Manufacturer name
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Manufacturer product code (MPC)
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Companies house registration number
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>


              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Manufacturer address
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Manufacturer phone number
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Manufacturer email
                </th>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
                <td class="govuk-table__cell"><span class="govuk-hint">Data not available</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>


      </div>
      <div class="govuk-grid-column-one-third">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{> partial/download}}
        
        {{> partial/correct}}

      </div>
    </div>
  </main>

{{> layout/footer}}
