{{> layout/header}}

<h1>Flag bad data</h1>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tell us whats wrong with this data</h1>
        <p class="govuk-body">[Explanation of the process]</p>
        <p class="govuk-body">Flag will be requested from the manufacturer, they'll review, update info if incorrect, you'll be notified.</p>
        <form action="/flag/{{ ID }}/submitted" method="POST">
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What information is wrong?</h1>
            </legend>
            <div id="contact-hint" class="govuk-hint"></div>


              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                {{#FIELDS}}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{key}}" name="{{key}}" type="checkbox" value="{{key}}" data-aria-controls="conditional-contact-{{key}}">
                    <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="{{key}}">
                      {{key}}: {{value}}
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-{{key}}">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--s" for="contact-by-email">
                        Describe what's wrong
                      </label>
                      <textarea class="govuk-textarea" id="{{key}}-reason" name="{{key}}-reason" rows="5" aria-describedby="more-detail-hint"></textarea>

                      <label class="govuk-label govuk-label--s" for="contact-by-email">
                        What should it be? (Optional)
                      </label>
                      <textarea class="govuk-textarea" id="{{key}}-more-detail" name="{{key}}-more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                {{/FIELDS}}

              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="/">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>

{{> layout/footer}}
