{{> layout/header}}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">PIM prototypes</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                  Prototype for testing 29th May:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="home">Homepage</a></li>
                  <li><a href="search?search=test">Search results</a></li>
                  <li><a href="product/314054">Example of a product page</a></li>
                  <li><a href="multiple">Searching for multiple products at once</a></li>
                </ul>
            </div>
        </div>
    </main>

{{> layout/footer}}
