{{> layout/header}}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Search for multiple devices</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Get a specific list of search results. 
                </p>
                <p class="govuk-body">
                    You can search using a combination of: 
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Manufacturer Product Code (MPC) </li>
                    <li>Global Medical Device Nomenclature (GMDN)</li>
                    <li>Unique Device Identification (UDI-DI)</li>
                </ul>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="multiple-devices">
                    Enter list of search criteria
                  </label>
                  <span class="govuk-hint">Separate search terms using commas. For example, 123654, 49728 </span>
                  <textarea class="govuk-textarea" id="multiple-devices" name="multipleDevices" rows="10"></textarea>
                  <a href="multipleresults" class="govuk-button">Search</a>
                </div>
            </div>
        </div>
    </main>

{{> layout/footer}}
