{{> layout/header}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Thank you for your request for data</h1>
        <p class="govuk-body">What happens next:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>You'll recieve a notification confirming your request</li>
          <li>The device manufacturer will review your request</li>
          <li>You'll be notified when the data is added</li>
          <li>Or you'll be notified if they return to you with any queries</li>
        </ul>
        <form action="/product/{{ ID }}">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Back to product
          </button>
        </form>
      </div>
    </div>
  </main>

{{> layout/footer}}
