{{> layout/header}}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What data would you like to request</h1>
        <p class="govuk-body">Your request will be sent to the manufacturer, they'll review, update info if incorrect, you'll be notified.</p>
        <form action="/request/{{ ID }}/submitted" method="POST">
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">What information do you require?</h1>
            </legend>
            <div id="contact-hint" class="govuk-hint"></div>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                {{#FIELDS}}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{key}}" name="{{key}}" type="checkbox" value="{{key}}">
                    <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="{{key}}">
                      {{title}}
                    </label>
                  </div>
                {{/FIELDS}}
                  <div class="govuk-checkboxes__divider">or</div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other" data-aria-controls="conditional-contact-other">
                    <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="other">
                      Something else
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--s" for="contact-by-email">
                        What data would you like to request?
                      </label>
                      <textarea class="govuk-textarea" id="other-reason" name="other-reason" rows="5" aria-describedby="more-detail-hint"></textarea>

                      <label class="govuk-label govuk-label--s" for="contact-by-email">
                        Add a comment
                      </label>
                      <textarea class="govuk-textarea" id="other-more-detail" name="other-more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="/product/{{ID}}">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>

{{> layout/footer}}
