{{> layout/header}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Thank you for your request for data</h1>
         <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We will send: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you an email confirming your request</li>
          <li>your request for data to the device manufacturer</li>
        </ul>
        <p class="govuk-body">
          The manufacturer will review your request and may contact you if they have any questions. 
        </p>
        <p class="govuk-body">
          We will send you an email letting you know when the manufacturer adds the new data. 
        </p>
        <form action="/product/{{ ID }}">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Back to product
          </button>
        </form>
      </div>
    </div>
  </main>

{{> layout/footer}}
