{{> layout/header}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Thank you for your feedback</h1>
        <p class="govuk-body">***content message about when it will get fixed**</p>
        <p class="govuk-body">***content message about when it will get fixed**</p>
        <p class="govuk-body">***content message about when it will get fixed**</p>
        <form action="/product/{{ ID }}">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Back to product
          </button>
        </form>
      </div>
    </div>
  </main>

{{> layout/footer}}
