{{> layout/header}}

{{#back}}
    <a href="{{back}}" class="govuk-back-link">Back</a>
{{/back}}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">DermaView II Island Dressing (00714196392503)</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Product classification</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">UDI-DI</th>
                  <td class="govuk-table__cell">00714196392503</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">GMDN Code and Term</th>
                  <td class="govuk-table__cell">44970 – Exudate-absorbent dressing, non-gel, non-antimicrobial</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Name</th>
                  <td class="govuk-table__cell">DermaView II Island Dressing</td>
                </tr>

                    <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Manufacturer</th>
                  <td class="govuk-table__cell">DERMARITE INDUSTRIES LLC</td>
                </tr>

                    <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Risk class</th>
                  <td class="govuk-table__cell">XXXX</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Medical information</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                  Unit of issue
                  </th>
                  <td class="govuk-table__cell">Unknown</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Single use
                  </th>
                  <td class="govuk-table__cell">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Sterile</th>
                  <td class="govuk-table__cell">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Implantable
                  </th>
                  <td class="govuk-table__cell">No</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Latex
                  </th>
                  <td class="govuk-table__cell">No</td>
                </tr>

              </tbody>
            </table>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Coding information
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                  
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Coding information</caption>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">British National Formulary (BNF)</th>
                        <td class="govuk-table__cell">????</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">National Product Code (NPC)</th>
                        <td class="govuk-table__cell">EDB115</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PIP</th>
                        <td class="govuk-table__cell">Not applicable</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">SNOMED</th>
                        <td class="govuk-table__cell">333453004</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Technical information
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                  
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Technical information</caption>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Shape</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Flammability</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Bandage</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Tape</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Ribbon</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Rope</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Pad</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Bordered</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sheet</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Paste</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Gel</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Ointment</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Cream</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Spray</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Powder</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Device_Appliance</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Complete</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Hydrocolloid</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Gelling Fibre</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Hydrogel</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Foam</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Alginate</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Film</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Silicone</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Irrigation</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Barrier</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Contact Layer</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Secondary Layer</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Retention</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Negative Pressure</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">EWPT</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Wear Indicator</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Wear time</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Radiation</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Latex</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Gelatin</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Garment</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Lymphodema</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Compression</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LowHG</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HiHg</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Compression Safe</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Infection Indicator</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Antimicrobial</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Honey</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Iodine</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Silver</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">DACC</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Chlorhexidine</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PHMB</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Octenidine</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Haemostatic</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Environment</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Odour Control</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Capillary Action</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Protease Inhibition</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Debridement</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Scar</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Closed Surgical</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Necrotic</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Granulating</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Slough</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Epithelialising</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Cavity</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Exposed BFT</th>
                        <td class="govuk-table__cell">yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Comment</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Collagen</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Moisture Retention</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">AntiSeptic</th>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Creation</th>
                        <td class="govuk-table__cell">No</td>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Clinical information
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                  
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Coding information</caption>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Wound adherence</th>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Skin adherence</th>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Absorbency</th>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Shedding</th>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Permeability</th>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>


        {{# manufacturer }}
            {{> partial/manufacturer }}
        {{/manufacturer}}


      </div>
      <div class="govuk-grid-column-one-third">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{> partial/download}}

      </div>
    </div>
  </main>

{{> layout/footer}}
